# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [2]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")

In [3]:
# Write function that locates outliers using standard deviation
# write query
query = """
        SELECT
	        credit_card.card_holder_id,
            transaction.date, 
	        transaction.amount,
            merchant.merchant_name    
        FROM transaction
        LEFT JOIN credit_card 
        ON transaction.card = credit_card.card
        LEFT JOIN merchant
        ON merchant.merchant_id = transaction.merchant_id;
        """ 
# create dataframe
data_df = pd.read_sql(query,engine)

def fraud_finder_std(card_holder_id):
    amount_df = data_df.loc[data_df['card_holder_id']==card_holder_id]['amount']

# calculate summary statistics
    amount_mean, amount_std = amount_df.mean(), amount_df.std()

# identify outliers
    cut_off = amount_std * 3
    lower, upper = amount_mean - cut_off, amount_mean + cut_off
    outliers = [x for x in amount_df if x < lower or x > upper] 
    data_fraud_df = data_df.loc[data_df['amount'].isin(outliers)]
    
    return data_fraud_df

In [4]:
# Find anomalous transactions for 3 random card holders
# fraud_finder_std(3)
# fraud_finder_std(16)
fraud_finder_std(25)

,card_holder_id,date,amount,merchant_name
296,25,2018-01-30 18:31:00,1177.0,"Cline, Myers and Strong"
636,25,2018-03-06 07:18:09,1334.0,Griffin-Woodard
961,25,2018-04-08 06:03:50,1063.0,"Bryant, Thomas and Collins"
1307,25,2018-05-13 06:31:20,1046.0,Baker Inc
1511,25,2018-06-04 03:46:15,1162.0,Johnson-Fuller
1685,25,2018-06-22 06:16:50,1813.0,"Cox, Montgomery and Morgan"
3375,25,2018-12-18 13:33:37,1074.0,"Maxwell, Tapia and Villanueva"

## Identifying Outliers Using Interquartile Range

In [5]:
# Write a function that locates outliers using interquartile range
def fraud_finder_quartile(card_holder_id):
    amount_df = data_df.loc[data_df['card_holder_id']==card_holder_id]['amount']
# calculate median and quartiles for transaction amount
    amount_median = amount_df.median()
    amount_des = amount_df.describe()
    cut_off = (amount_des[6]-amount_des[4])*3
# identify outliers
    lower, upper = amount_median - cut_off, amount_median + cut_off
    outliers = [x for x in amount_df if x < lower or x > upper] 
    data_fraud_df = data_df.loc[data_df['amount'].isin(outliers)] 
    return data_fraud_df

In [6]:
# Find anomalous transactions for 3 random card holders
# fraud_finder_quartile(3)
# fraud_finder_quartile(16)
fraud_finder_quartile(25)

,card_holder_id,date,amount,merchant_name
296,25,2018-01-30 18:31:00,1177.0,"Cline, Myers and Strong"
636,25,2018-03-06 07:18:09,1334.0,Griffin-Woodard
912,25,2018-04-01 07:17:21,100.0,Padilla-Clements
961,25,2018-04-08 06:03:50,1063.0,"Bryant, Thomas and Collins"
983,25,2018-04-09 18:28:25,269.0,Hamilton-Mcfarland
1307,25,2018-05-13 06:31:20,1046.0,Baker Inc
1511,25,2018-06-04 03:46:15,1162.0,Johnson-Fuller
1542,25,2018-06-06 21:50:17,749.0,Hamilton-Mcfarland
1685,25,2018-06-22 06:16:50,1813.0,"Cox, Montgomery and Morgan"
2223,25,2018-08-16 10:01:00,1001.0,"Vega, Jones and Castro"
2902,25,2018-10-28 02:12:58,137.0,"Bryant, Thomas and Collins"
3375,25,2018-12-18 13:33:37,1074.0,"Maxwell, Tapia and Villanueva"